/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

:root {
  --primary-1: #7f67f8;
  --primary-2: #f97c69;
  --primary-text: #868c95;
  --header-text: #2c363e;
  --header: #363d41;
  --footer: #0b0c11;
}
/* HEADER */
.header {
  background-color: var(--header);
}

.header__social i {
  margin-right: 25px;
  transition: all 0.3s;
  cursor: pointer;
}

.header__social .header__facebook:hover {
  color: #4267b2;
}

.header__social .header__twitter:hover {
  color: #1da1f2;
}

.header__social .header__google:hover {
  color: #dd5348;
}

.header__social .header__linkein:hover {
  color: #0077b5;
}
/* NAVIGATION BAR */
.navbar-brand__logo h1 {
  font-size: 2rem;
  color: var(--primary-text);
  font-weight: 400;
  letter-spacing: 2px;
}

.navbar-brand__logo span {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--primary-1);
}

.navbar-nav__units li {
  margin-right: 2rem;
}

.navbar-light .navbar-nav__units .nav-link__custom {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: #363d41;
  transition: all 0.3s;
}

.navbar-nav__units a:hover {
  color: var(--primary-1);
}

.nav-item__hover {
  width: 0%;
  height: 2px;
  background-color: var(--primary-1);
  transition: all 0.3s;
}

.navbar-nav__units li:hover .nav-item__hover {
  width: 100%;
}

.navbar-toggler-icon__custom {
  color: var(--primary-1);
}
/* CAROUSEL */
.carousel-section {
  background-image: url("../img/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 700px;
  background-position: top center;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}

.carousel__overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-indicators__rounded {
  bottom: -100%;
}

.carousel-indicators__rounded li {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: var(--primary-1);
  opacity: 1;
}

.carousel-indicators__rounded li.active {
  background-color: white;
}

.carousel-item__text {
  color: white;
}

.carousel-item__text h1 {
  letter-spacing: 5px;
  font-size: 3rem;
  line-height: 1.4em;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.carousel-item__text p {
  margin: 2rem 5rem;
}

.carousel-item__text .btn-read-more {
  color: white;
  border: 2px solid transparent;
  background-color: var(--primary-1);
  border-radius: 0;
  padding: 0.5rem 2.5rem;
  margin-right: 0.5rem;
  transition: all 0.3s;
}

.carousel-item__text .btn-read-more:hover {
  background-color: transparent;
  border-color: white;
}

.carousel-item__text .btn-about {
  color: white;
  border: 2px solid white;
  border-radius: 0;
  padding: 0.5rem 2.5rem;
  background-color: transparent;
  transition: all 0.3s;
}

.carousel-item__text .btn-about:hover {
  background-color: var(--primary-1);
  border-color: var(--primary-1);
}

.btn-read-more:focus,
.btn-about:focus {
  outline: none;
}
/* WHAT YOU GET */
.get__header h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 0.33em;
  color: var(--header-text);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.get__header p {
  color: var(--primary-text);
}

.get__header .get__divide-line {
  height: 1px;
  width: 80%;
  background-color: #e8e8e8;
  margin-top: 3.75rem;
  margin-bottom: 2.8125rem;
}

.get__item i {
  font-size: 2.5rem;
  color: var(--primary-2);
  transition: all 0.3s;
}

.get__item:hover i {
  transform: scale(1.2);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.37);
  cursor: pointer;
}

.get__item h3 {
  font-size: 1.5rem;
  color: var(--header-text);
  font-weight: bold;
  margin: 1.5rem 0;
}

.get__item p {
  color: var(--primary-text);
}

.get__content .get__item:nth-child(2) {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
/* BUSINESS SOLUTION */
.business {
  margin: 1rem 0 3rem;
  min-height: 250px;
  background: url("../img/3.jpg") no-repeat fixed;
  background-size: cover;
}

.business__title h2 {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0.075em;
  padding: 1rem 3rem;
}

.business__btn-contact {
  color: white;
  letter-spacing: 1px;
  border: 2px solid transparent;
  background-color: var(--primary-1);
  border-radius: 0;
  padding: 0.5em 2.5em;
  transition: all 0.3s;
}

.business__btn-contact:hover {
  background-color: transparent;
  border-color: white;
}
/* PROFESSIONAL SOLUTION */
.professional {
  padding: 2rem 0 4rem;
}

.professional__title {
  margin-bottom: 4rem;
}

.professional__title h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 0.33em;
  color: var(--header-text);
  padding: 0 3em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.professional__title p {
  color: var(--primary-text);
}

.professional__item h3 {
  font-size: 3.5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: var(--primary-2);
}

.professional__item p {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--header-text);
  margin: 0.8em 0 0.1em;
}

.professional__item span {
  color: var(--primary-text);
}
/* MAIN SERVICES */
.services {
  padding: 4rem 0;
  background: url("../img/3.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.services__title {
  margin-bottom: 4rem;
}

.services__title h2 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin-bottom: 0.33em;
  color: white;
}

.services__title p {
  color: white;
}

.services__content:hover .services__item {
  filter: blur(4px);
  opacity: 0.5;
  transform: scale(0.95);
}

.services__item {
  padding: 2.5rem;
  transition: all 0.5s;
}

.services__content:hover .services__item:hover {
  transform: scale(1);
  filter: blur(0px);
  z-index: 100;
  opacity: 1;
  cursor: pointer;
}

.services__item i {
  transition: all 0.8s;
}

.services__item:hover .icon-arrow,
.services__item:hover .icon-cogs {
  transform: rotateZ(180deg) scale(1.15);
}

.services__item:hover .icon-chart,
.services__item:hover .icon-bullseye,
.services__item:hover .icon-cubes {
  transform: rotateY(180deg) scale(1.15);
}

.services__item:hover .icon-bitcoin {
  transform: rotateZ(360deg) scale(1.15);
}

.services__item h3 {
  margin: 1.5rem 0;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

.services__item p {
  line-height: 1.8rem;
  letter-spacing: 2px;
}

.services__item i {
  font-size: 3rem;
}

.services__icon--color i {
  color: var(--primary-2);
}

.services__icon--color {
  background-color: white;
}

.services__item--color {
  background-color: var(--primary-2);
}
/* CUSTOMERS */
.customer {
  padding: 4rem 0;
}

.customer__title {
  margin-bottom: 4rem;
}

.customer__title h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 0.33em;
  color: var(--header-text);
  padding: 0 3em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.customer__title p {
  color: var(--primary-text);
}

.owl-theme__custom .customer__person img {
  display: inline-block;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 4px solid var(--primary-1);
  transition: all 0.3s;
}

.customer__person {
  padding: 2rem 2rem;
  text-align: center;
}

.customer__person h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 2rem;
  color: var(--header-text);
  transition: all 0.3s;
}

.customer__person:hover img,
.customer__person:hover h3 {
  border-color: var(--primary-2);
  color: var(--primary-2);
}

.customer__person p {
  margin-top: 1rem;
  color: var(--primary-text);
  font-style: 0.9rem;
}

.owl-theme__custom .owl-dots {
  display: flex;
  justify-content: center;
}

.owl-theme__custom button.owl-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--primary-2);
  opacity: 0.5;
  margin-right: 1rem;
}

.owl-theme__custom button.owl-dot:focus {
  outline: none;
}

.owl-theme__custom button.owl-dot.active {
  opacity: 1;
}
/* FOOTER */
.footer__content {
  padding: 4rem 0;
  background-color: var(--footer);
}

.footer__content h3 {
  font-size: 1.7rem;
  margin-bottom: 1.5em;
  letter-spacing: 2px;
  color: var(--primary-2);
}

.footer__subscribe {
  padding-right: 5rem;
}

.footer__subscribe p {
  color: #bfbfbf;
  line-height: 2em;
  letter-spacing: 1px;
  margin-bottom: 2em;
}

.footer__input {
  border: 1px solid white;
}

.footer__input input {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 0;
  padding: 15px;
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.22);
}

.footer__input button {
  color: white;
  background-color: var(--primary-1);
  border: 1px solid var(--primary-1);
  border-radius: 0;
  width: 12%;
  transition: all 0.3s;
}

.footer__input button:focus {
  outline: none;
}

.footer__input button:hover {
  background-color: var(--primary-2);
  border-color: var(--primary-2);
}

.footer__links a {
  line-height: 2rem;
  color: white;
  transition: all 0.3s;
}

.footer__links a:hover {
  text-decoration: none;
  color: var(--primary-2);
}

.footer__contact p {
  color: #bfbfbf;
  margin-bottom: 1.5rem;
}

.footer__contact p i {
  color: var(--primary-2);
  padding-right: 5px;
}

.footer__copyright {
  color: white;
  padding: 1rem 0;
  background-color: var(--header);
}

.footer__copyright span {
  line-height: 1.8rem;
}

.footer__copyright a {
  color: white;
  text-decoration: underline;
}

/* BACK TO TOP */
.back-to-top {
  position: fixed;
  bottom: 5rem;
  visibility: hidden;
  opacity: 0;
  right: 3rem;
  transition: all 0.3s;
}

.back-to-top:hover {
  transform: scale(1.2);
  opacity: 1;
}

.cd-top--is-visible {
  /* back-to-top button visible */
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  /* reduce button opacity if user keeps scrolling */
  opacity: 0.5;
}

/* MEDIA QUERY */
/* Extra small */
@media screen and (max-width: 576px) {
  /* Carousel */
  .carousel-section {
    min-height: 300px;
  }

  .carousel-item__text h1 {
    font-size: 1.35rem;
  }

  .carousel-item__text p {
    margin: 0.8rem 2rem;
    font-size: 0.8rem;
  }

  .carousel-item__text .btn-read-more,
  .carousel-item__text .btn-about {
    padding: 0.3rem 1rem;
  }

  .carousel-indicators__rounded {
    bottom: -55%;
  }

  .carousel-indicators__rounded li {
    height: 10px;
    width: 10px;
  }

  /* What you get */
  .get__content .get__item:nth-child(2) {
    border-color: transparent;
  }

  .get__header h2 {
    font-size: 2.3rem;
  }

  .get__header p {
    padding: 0 1rem;
  }

  .get__item p {
    padding: 0 1.5rem;
  }

  /*Business Solution */
  .business {
    background-position: center center;
  }

  .business__title h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
  }

  .business__btn-contact {
    padding: 0.3rem 1rem;
  }

  /* Professional Business */
  .professional__title h2 {
    font-size: 2.3rem;
    padding: 0 1rem;
  }

  .professional__title p {
    padding: 0 1rem;
  }

  .professional__item {
    margin-bottom: 3rem;
  }

  .professional {
    padding-bottom: 0;
  }

  /* Services */
  .services__title h2 {
    font-size: 2.8rem;
  }

  .services__item {
    margin: 0 1rem;
  }

  /* Customer */
  .customer__title h2 {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .customer__title p {
    padding: 0 1rem;
  }

  .customer__person p {
    font-size: 0.85rem;
    letter-spacing: 2px;
  }

  /* FOOTER */
  .footer__content h3 {
    margin-bottom: 0.7em;
  }

  .footer__subscribe,
  .footer__links {
    margin-bottom: 2rem;
  }

  /* BACK TO TOP */
  .back-to-top {
    bottom: 4rem;
    right: 2rem;
  }
}

/* Small */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /* Carousel */
  .carousel-section {
    min-height: 400px;
  }

  .carousel-item__text h1 {
    font-size: 1.5rem;
  }

  .carousel-item__text p {
    margin: 1.5rem 2rem;
    font-size: 1rem;
  }

  .carousel-item__text .btn-read-more,
  .carousel-item__text .btn-about {
    padding: 0.3rem 1rem;
  }

  .carousel-indicators__rounded {
    bottom: -50%;
  }

  .carousel-indicators__rounded li {
    height: 10px;
    width: 10px;
  }

  /* What you get */
  .get__content .get__item:nth-child(2) {
    border-color: transparent;
  }

  .get__header h2 {
    font-size: 2.6rem;
  }

  /* Business solution */
  .business {
    background-position: center center;
  }

  .business__title h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }

  .business__btn-contact {
    padding: 0.5rem 1.2rem;
  }

  /* Professional Business */
  .professional__title h2 {
    font-size: 2.3rem;
    padding: 0 1rem;
  }

  .professional__title p {
    padding: 0 1rem;
  }

  .professional__item {
    margin-bottom: 3rem;
  }

  .professional {
    padding-bottom: 0;
  }

  /* Services */
  .services__title h2 {
    font-size: 2.8rem;
  }

  /* Customer */
  .customer__title h2 {
    font-size: 3rem;
    padding: 0 1rem;
  }

  .customer__title p {
    padding: 0 1rem;
  }

  .customer__person p {
    font-size: 0.9rem;
    letter-spacing: 2px;
  }

  /* FOOTER */
  .footer__content h3 {
    margin-bottom: 0.7em;
  }

  .footer__subscribe,
  .footer__links {
    margin-bottom: 2rem;
  }

  /* BACK TO TOP */
  .back-to-top {
    bottom: 4rem;
    right: 2rem;
  }
}

/* Medium */
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* Carousel */
  .carousel-section {
    min-height: 500px;
  }

  .carousel-item__text h1 {
    font-size: 2rem;
  }

  .carousel-item__text p {
    margin: 1.5rem 3rem;
    font-size: 1rem;
  }

  .carousel-item__text .btn-read-more. .carousel-item__text .btn-about {
    padding: 0.4rem 1.5rem;
  }

  .carousel-indicators__rounded {
    bottom: -55%;
  }

  .carousel-indicators__rounded li {
    height: 10px;
    width: 10px;
  }

  /* Business solution */
  .business {
    background-position: center center;
  }

  .business__title h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }

  .business__btn-contact {
    padding: 0.5rem 1.2rem;
  }

  /* Professional Business */
  .professional__title h2 {
    font-size: 2.5rem;
    padding: 0 1rem;
  }

  .professional__item {
    margin-bottom: 3rem;
  }

  .professional {
    padding-bottom: 0;
  }

  .professional__item h3 {
    font-size: 3rem;
  }

  .professional__item p {
    font-size: 1rem;
  }

  .professional__item span {
    font-size: 0.8rem;
  }

  /* Services */
  .services__title h2 {
    font-size: 3rem;
  }

  /* Customer */
  .customer__title h2 {
    padding: 0 1rem;
  }

  /* FOOTER */
  .footer__content h3 {
    font-size: 1.2rem;
    margin-bottom: 0.7em;
  }

  .footer__subscribe {
    padding-right: 1.5rem;
  }

  /* BACK TO TOP */
  .back-to-top {
    bottom: 4rem;
    right: 2.2rem;
  }
}

/* Large */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* Carousel */
  .carousel-section {
    min-height: 600px;
  }

  .carousel-item__text h1 {
    font-size: 2.8rem;
  }

  .carousel-indicators__rounded {
    bottom: -80%;
  }

  /* Business solution */
  .business__title h2 {
    font-size: 2.3rem;
    padding: 1rem 0;
  }
}
